USE [Fashion_Shop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/27/2022 5:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](256) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[Fullname] [nvarchar](256) NOT NULL,
	[Role] [int] NOT NULL,
	[Email] [varchar](256) NULL,
	[Gender] [bit] NOT NULL,
	[Image] [varchar](500) NULL,
	[Birthday] [date] NULL,
	[Phone] [char](10) NOT NULL,
	[Address] [nvarchar](256) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/27/2022 5:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](256) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 12/27/2022 5:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[Username] [varchar](256) NULL,
	[RequestTime] [datetime] NOT NULL,
	[SessionID] [varchar](500) NOT NULL,
	[ProductID] [varchar](50) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Evaluation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/27/2022 5:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CusUsername] [varchar](256) NOT NULL,
	[Phone] [char](10) NULL,
	[CusAddress] [nvarchar](256) NULL,
	[CusEmail] [varchar](256) NULL,
	[Date] [date] NOT NULL,
	[TotalPrice] [bigint] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 12/27/2022 5:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDOrder] [int] NOT NULL,
	[IDProduct] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/27/2022 5:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[IDCategory] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Image] [varchar](500) NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Gender] [bit] NULL,
	[ReleaseTime] [smallint] NULL,
	[ProductType] [nvarchar](50) NOT NULL,
	[ProductCluster] [smallint] NULL,
	[ProductMaterial] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 12/27/2022 5:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 12/27/2022 5:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[Username] [varchar](256) NOT NULL,
	[Rating] [smallint] NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[Username] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/27/2022 5:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisfyProduct]    Script Date: 12/27/2022 5:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisfyProduct](
	[HistoryID] [int] NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SatisfyProduct] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeAndColor]    Script Date: 12/27/2022 5:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeAndColor](
	[ProductID] [nvarchar](50) NOT NULL,
	[Size] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_SizeAndColor] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[Size] ASC,
	[Color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID], [Username], [Password], [Fullname], [Role], [Email], [Gender], [Image], [Birthday], [Phone], [Address]) VALUES (271, N'1', N'*vY2J%8H', N'Nila Om', 2, N'n19dccn018@gmail.com', 1, N'', CAST(N'1997-10-19' AS Date), N'7135956653', N'4695 East Huntsville Road')
INSERT [dbo].[Account] ([ID], [Username], [Password], [Fullname], [Role], [Email], [Gender], [Image], [Birthday], [Phone], [Address]) VALUES (280, N'10', N'351C#D%T', N'Mukul Balakrishnan', 2, N'n19dccn018@gmail.com', 1, N'', CAST(N'1997-10-19' AS Date), N'9061366792', N'1302 Cherry Street')
INSERT [dbo].[Account] ([ID], [Username], [Password], [Fullname], [Role], [Email], [Gender], [Image], [Birthday], [Phone], [Address]) VALUES (370, N'100', N'pk1zkI$&', N'Akash Doctor', 2, N'n19dccn018@gmail.com', 1, N'', CAST(N'1997-10-19' AS Date), N'6453673955', N'7910 West Krall Street')
GO
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[History] ON 

INSERT [dbo].[History] ([Username], [RequestTime], [SessionID], [ProductID], [ID]) VALUES (N'', CAST(N'2022-12-24T14:43:31.833' AS DateTime), N'8194E6239BD97E947E17C3CFB216D0DA', N'1', 11)
INSERT [dbo].[History] ([Username], [RequestTime], [SessionID], [ProductID], [ID]) VALUES (N'', CAST(N'2022-12-24T14:43:42.883' AS DateTime), N'8194E6239BD97E947E17C3CFB216D0DA', N'1032', 12)
INSERT [dbo].[History] ([Username], [RequestTime], [SessionID], [ProductID], [ID]) VALUES (N'', CAST(N'2022-12-24T14:43:44.460' AS DateTime), N'8194E6239BD97E947E17C3CFB216D0DA', N'1051', 13)
SET IDENTITY_INSERT [dbo].[History] OFF
GO
INSERT [dbo].[Product] ([ID], [Name], [IDCategory], [Price], [Image], [Brand], [Gender], [ReleaseTime], [ProductType], [ProductCluster], [ProductMaterial]) VALUES (N'1', N'Áo Jacket Nam', 1, 900, N'images/Top/Jacket/jacket2.png', N'Cartier', 1, 2021, N'Jacket', 0, N'Linen')
INSERT [dbo].[Product] ([ID], [Name], [IDCategory], [Price], [Image], [Brand], [Gender], [ReleaseTime], [ProductType], [ProductCluster], [ProductMaterial]) VALUES (N'10', N'Quần Tee Pants Nu', 2, 500, N'images/Bot/Tee Pants/pants2.png', N'H&M', 0, 2020, N'Tee Pants', 2, N'Cotton')
INSERT [dbo].[Product] ([ID], [Name], [IDCategory], [Price], [Image], [Brand], [Gender], [ReleaseTime], [ProductType], [ProductCluster], [ProductMaterial]) VALUES (N'100', N'Quần Cargo Nu', 2, 400, N'images/Bot/Cargo/Cargo4.jpg', N'Cartier', 0, 2022, N'Cargo', 3, N'Jean')
GO
INSERT [dbo].[ProductCategory] ([ID], [Name]) VALUES (1, N'TOP')
INSERT [dbo].[ProductCategory] ([ID], [Name]) VALUES (2, N'BOT')
GO
INSERT [dbo].[Rating] ([Username], [Rating], [ProductID]) VALUES (N'1', 4, N'110')
INSERT [dbo].[Rating] ([Username], [Rating], [ProductID]) VALUES (N'1', 3, N'1152')
INSERT [dbo].[Rating] ([Username], [Rating], [ProductID]) VALUES (N'1', 3, N'1210')
GO
INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Customer')
GO
INSERT [dbo].[SatisfyProduct] ([HistoryID], [ProductID]) VALUES (11, N'1032')
INSERT [dbo].[SatisfyProduct] ([HistoryID], [ProductID]) VALUES (11, N'1051')
INSERT [dbo].[SatisfyProduct] ([HistoryID], [ProductID]) VALUES (16, N'1033')
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_clothingstore_user_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_clothingstore_user_Role]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([Username])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([CusUsername])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([IDOrder])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([IDProduct])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductCategory1] FOREIGN KEY([IDCategory])
REFERENCES [dbo].[ProductCategory] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductCategory1]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Account] FOREIGN KEY([Username])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Account]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Product]
GO
ALTER TABLE [dbo].[SatisfyProduct]  WITH CHECK ADD  CONSTRAINT [FK_SatisfyProduct_Evaluation] FOREIGN KEY([HistoryID])
REFERENCES [dbo].[History] ([ID])
GO
ALTER TABLE [dbo].[SatisfyProduct] CHECK CONSTRAINT [FK_SatisfyProduct_Evaluation]
GO
ALTER TABLE [dbo].[SatisfyProduct]  WITH CHECK ADD  CONSTRAINT [FK_SatisfyProduct_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[SatisfyProduct] CHECK CONSTRAINT [FK_SatisfyProduct_Product]
GO
ALTER TABLE [dbo].[SizeAndColor]  WITH CHECK ADD  CONSTRAINT [FK_SizeAndColor_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[SizeAndColor] CHECK CONSTRAINT [FK_SizeAndColor_Product]
GO
